.container{
    display:flex;
}

.card1,.card2,.card3,.card4,.card5{
    width:200px;
    height:300px;
    border:1px solid black;
    text-align:center;
   
}

.clicked{
    color:red;
}
.done{
    color:gray;
    pointer-events:none;
}

.card-item{
    cursor:pointer;
}
